In [1]:
import sqlite3

# Connect to (or create) the SQLite database file in your working directory
conn = sqlite3.connect('department.db')
cur = conn.cursor()

# Create the Departments table
cur.execute('''
CREATE TABLE IF NOT EXISTS Departments (
    department_id INTEGER PRIMARY KEY AUTOINCREMENT,
    department_name TEXT NOT NULL
)
''')

# Commit the changes and close the connection
conn.commit()
conn.close()

print("Departments table created successfully in C:\\Users\\HP\\Dashboard")

Departments table created successfully in C:\Users\HP\Dashboard

In [2]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('department.db')
cur = conn.cursor()

# Insert sample data into Departments table
departments = [('Engineering',), ('Business',), ('Arts & Sciences',)]
cur.executemany('INSERT INTO Departments (department_name) VALUES (?)', departments)

# Commit and close
conn.commit()
conn.close()

print("Sample departments inserted successfully.")

Sample departments inserted successfully.

In [3]:
import sqlite3

conn = sqlite3.connect('department.db')
cur = conn.cursor()

# Fetch and print all rows from the Departments table
cur.execute('SELECT * FROM Departments')
rows = cur.fetchall()

for row in rows:
    print(row)

conn.close()

(1, 'Engineering')
(2, 'Business')
(3, 'Arts & Sciences')