In [1]:
import sqlite3

# Connect to your database (department.db)
conn = sqlite3.connect('department.db')
cur = conn.cursor()

In [2]:
# Create the Terms table
cur.execute('''
CREATE TABLE IF NOT EXISTS Terms (
    term_id INTEGER PRIMARY KEY AUTOINCREMENT,
    term_name TEXT NOT NULL,
    start_date DATE,
    end_date DATE
)
''')

conn.commit()
print("Terms table created successfully.")

Terms table created successfully.

In [3]:
# Define the starting year as 2019 and number of years
start_year = 2019
num_years = 5

terms = []
for year in range(start_year, start_year + num_years):
    # Spring term: January 10 to May 15
    spring_term = (f"Spring {year}", f"{year}-01-10", f"{year}-05-15")
    # Fall term: September 1 to December 20
    fall_term = (f"Fall {year}", f"{year}-09-01", f"{year}-12-20")
    
    terms.append(spring_term)
    terms.append(fall_term)

# Insert the terms into the Terms table
cur.executemany('INSERT INTO Terms (term_name, start_date, end_date) VALUES (?, ?, ?)', terms)

conn.commit()
print("Terms inserted successfully.")

Terms inserted successfully.

In [4]:
cur.execute('SELECT * FROM Terms')
rows = cur.fetchall()

for row in rows:
    print(row)

conn.close()

(1, 'Spring 2019', '2019-01-10', '2019-05-15')
(2, 'Fall 2019', '2019-09-01', '2019-12-20')
(3, 'Spring 2020', '2020-01-10', '2020-05-15')
(4, 'Fall 2020', '2020-09-01', '2020-12-20')
(5, 'Spring 2021', '2021-01-10', '2021-05-15')
(6, 'Fall 2021', '2021-09-01', '2021-12-20')
(7, 'Spring 2022', '2022-01-10', '2022-05-15')
(8, 'Fall 2022', '2022-09-01', '2022-12-20')
(9, 'Spring 2023', '2023-01-10', '2023-05-15')
(10, 'Fall 2023', '2023-09-01', '2023-12-20')