In [1]:
import sqlite3

# Connect to your existing database (assuming it's named department.db)
conn = sqlite3.connect('department.db')
cur = conn.cursor()

In [2]:
# Create the Programs table
cur.execute('''
CREATE TABLE IF NOT EXISTS Programs (
    program_id INTEGER PRIMARY KEY AUTOINCREMENT,
    program_name TEXT NOT NULL,
    department_id INTEGER,
    FOREIGN KEY(department_id) REFERENCES Departments(department_id)
)
''')

conn.commit()
print("Programs table created successfully.")

Programs table created successfully.

In [3]:
# Sample data for Programs
programs = [
    ('Computer Science', 1),
    ('Mechanical Engineering', 1),
    ('Finance', 2),
    ('Marketing', 2),
    ('History', 3),
    ('Psychology', 3)
]

cur.executemany('INSERT INTO Programs (program_name, department_id) VALUES (?, ?)', programs)

conn.commit()
print("Sample programs inserted successfully.")

Sample programs inserted successfully.

In [4]:
cur.execute('SELECT * FROM Programs')
rows = cur.fetchall()

for row in rows:
    print(row)

conn.close()

(1, 'Computer Science', 1)
(2, 'Mechanical Engineering', 1)
(3, 'Finance', 2)
(4, 'Marketing', 2)
(5, 'History', 3)
(6, 'Psychology', 3)